<% if params[:commit] == "Search" %>
	<h2> Search Results </h2>
<% else %>
	<h2> Channels </h2>
<% end %>


<% if @channels.present? %>
	<% @channels.each do |channel| %>
		<ul>
			<li> <%= channel.name %> </li>
		</ul>
		<% unless params[:commit] == "Search" %>
			<ul>
				<% channel.shows.each do |show| %>
					<li> <%= show.name %>
						<button onclick='addFavourite(<%= "#{show.id}" %>)'> Add to Favourite </button>
					 </li>
				<% end %>
			</ul>
		<% end %>
	<% end %>
<% else %>
	No Channels or Shows found
<% end %>

<script>
	function addFavourite(show_id){
		$.ajax({
			type: 'POST',
			url: "/add_to_favourite",
			data: {
    		show_id: show_id
    	},
    	dataType: 'JSON',
			success: function(result){
    		alert("Added to Favourite");
  		}});
	}
</script>
